@import '../../styles/theme';
@import '../../styles/common';

.sidebar {
    background-color: #456C95;
    height: 576px;
    width: 100%;
    a {
        color: white;
        font-size: 18px;
        display: block;
        padding: 15px;
        font-weight: bold;
    }
}
