@import '../../styles/theme';
@import '../../styles/common';

.reimbursement {
    margin-top: -100px;
}

.heading {
    color: #EE8609;
    font-family: cursive;
    font-size: 64px;
}

.check {
    color: #fff;
}
