@import "../../styles/theme";

.success_form_layout{
    text-align: center;
    margin: 31px;
    padding: 31px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13);
    background-color: $Solitude;
    border: solid 1px $linkWater;
    .success_header{
        font-size: 18px;
        font-weight: 500;
    }
    .back_to_home{
        .back_link{
            font-size: 14px;
            color: $pictonBlue;
        }
    }
}