@import "../../styles/theme";

.footer_container {
    position: fixed;
    height: 40px !important;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $whiteSmoke;
    padding: 0px 33px;
}

.footer_copyright {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: $rockBlue;
    margin-right: 6px;
}

.footer-icon{
    width: 80px;
}
.heart_icon{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px;
    color: $brinkPink;
}
